body {
  margin: 0 auto;
}

header {
  width: auto;
  /*border: 5px solid;*/
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
  vertical-align: top;
}

.otherprojects-item {
  display: inline;
  width: 80%;
  height: 175px;
  min-width: 150px;
  max-width: 300px;
  line-height: 175px;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

img {
  width: 135px;
  padding: 10px;
}

p {
  font-size: 20px;
  font-family: helvetica;
}

#greeting {
  text-align: right;
}

footer {
  text-align: center;
}

#footer {
  font-size: 12px;
}
ul {
  list-style: none;
}

li {
  display: inline;
  margin: 2%;
  font-family: helvetica;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
